$blue: #009cde;
$green: #6cc24a;
$orange: #f2b944;
$gray: #676767;

$light-gray: #959595;
$light-blue: #b3e7fb;
$dark-blue: #00aeef;

$credits-light-gray: #929497;
$credits-dark-gray: #404040;

/*
Poll bg #00aeef #b3e7fb
*/

$easing: cubic-bezier(.215, .61, .355, 1);

$person-0-img-off: '../img/people/person-0-off.png';
$person-0-img-off-dim: '../img/people/person-0-off-dim.png';
$person-0-img-on: '../img/people/person-0-on.png';
$person-0-color-dark: #4b4265;
$person-0-color-light: #ab9cd4;

$person-1-img-off: '../img/people/person-1-off.png';
$person-1-img-off-dim: '../img/people/person-1-off-dim.png';
$person-1-img-on: '../img/people/person-1-on.png';
$person-1-color-dark: #803b3e;
$person-1-color-light: #ff887c;

$person-2-img-off: '../img/people/person-2-off.png';
$person-2-img-off-dim: '../img/people/person-2-off-dim.png';
$person-2-img-on: '../img/people/person-2-on.png';
$person-2-color-dark: #1c476b;
$person-2-color-light: #5fa4dd;

$person-3-img-off: '../img/people/person-3-off.png';
$person-3-img-off-dim: '../img/people/person-3-off-dim.png';
$person-3-img-on: '../img/people/person-3-on.png';
$person-3-color-dark: #3c5f12;
$person-3-color-light: #92cb50;

$person-4-img-off: '../img/people/person-4-off.png';
$person-4-img-off-dim: '../img/people/person-4-off-dim.png';
$person-4-img-on: '../img/people/person-4-on.png';
$person-4-color-dark: #724006;
$person-4-color-light: #e9993d;

$person-5-img-off: '../img/people/person-5-off.png';
$person-5-img-off-dim: '../img/people/person-5-off-dim.png';
$person-5-img-on: '../img/people/person-5-on.png';
$person-5-color-dark: #006153;
$person-5-color-light: #32cdb8;

$person-6-img-off: '../img/people/person-6-off.png';
$person-6-img-off-dim: '../img/people/person-6-off-dim.png';
$person-6-img-on: '../img/people/person-6-on.png';
$person-6-color-dark: #75272e;
$person-6-color-light: #ea4e5c;

@mixin attract-h1-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 78px;
  line-height: 78px;
}
@mixin attract-cta-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 22px;
  line-height: 26px;
}

@mixin credits-h1-rule {
  font-family: 'W-Semibold';
  font-size: 56px;
  line-height: 56px;
}

@mixin credits-h2-rule {
  font-family: 'W-Book';
  font-size: 30px;
  line-height: 36px;
}

@mixin credits-p-rule {
  font-family: 'W-Semibold';
  font-size: 24px;
  line-height: 32px;
}

@mixin h1-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 40px;
  line-height: 48px;
}

@mixin h2-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 35px;
  line-height: 40px;
}

@mixin h3-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 22px;
  line-height: 26px;
}

@mixin h4-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 14px;
  line-height: 16px;
}

@mixin body1-rule {
  font-family: 'W-Book', 'SourceHanSansCN-Normal';
  font-size: 16px;
  line-height: 19px;
}

@mixin body2-rule {
  font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
  font-size: 16px;
  line-height: 19px;
}

@mixin body3-rule {
  font-family: 'W-Book', 'SourceHanSansCN-Normal';
  font-size: 14px;
  line-height: 16px;
}

@mixin get-percentage-width($p: 0) {
  width: ($p * 6);
}
