@import "./_vars.scss";

#app {

  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #000;

  #container-attract {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-color: #000;
    display: none;
  }

  #container-translator {
    width: 1920px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    background-color: #000;
    display: show;
  }

  #container-credits {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    background-color: #000;
    display: none;
  }

  #container-main {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: none;
  }

  .hide {
    display: none;
  }
  .show {
    display: block !important;
  }

}
