/*
Poll bg #00aeef #b3e7fb
*/
#app {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #000; }
  #app #container-loader {
    width: 1920px;
    height: 1080px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    overflow: hidden; }
  #app #container-translator {
    width: 1920px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-color: #000; }
  #app #container-credits {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    background-color: #000;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #app #container-credits.hide-anim {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #app #container-main {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 1; }
  #app .hide {
    display: none; }
