/*
Poll bg #00aeef #b3e7fb
*/
#bar {
  width: 1660px;
  height: 83px; }
  #bar #bar-tab-year {
    width: 105px;
    height: 83px;
    background-color: #f4f4f4;
    float: left; }
    #bar #bar-tab-year span {
      display: block;
      text-align: center;
      padding-top: 28px;
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      font-size: 22px;
      line-height: 26px; }
  #bar .bar-tab-person {
    width: 220px;
    height: 83px;
    float: left; }
    #bar .bar-tab-person p {
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      height: 83px;
      margin-left: 18px;
      margin-right: 18px;
      display: flex;
      justify-content: center;
      flex-direction: column; }
  #bar #bar-tab-person-0 {
    background-color: #9783bd; }
    #bar #bar-tab-person-0 p {
      color: #4c4366 !important; }
  #bar #bar-tab-person-1 {
    background-color: #e4b023; }
    #bar #bar-tab-person-1 p {
      color: #735924 !important; }
  #bar #bar-tab-person-2 {
    background-color: #3aa5d4; }
    #bar #bar-tab-person-2 p {
      color: #1e546c !important; }
  #bar #bar-tab-person-3 {
    background-color: #78be43; }
    #bar #bar-tab-person-3 p {
      color: #3f602d !important; }
  #bar #bar-tab-person-4 {
    background-color: #e78619; }
    #bar #bar-tab-person-4 p {
      color: #74451b !important; }
  #bar #bar-tab-person-5 {
    background-color: #01b9b1; }
    #bar #bar-tab-person-5 p {
      color: #055e5a !important; }
  #bar #bar-tab-person-6 {
    background-color: #c44a41; }
    #bar #bar-tab-person-6 p {
      color: #632622 !important; }
