@import "./_vars.scss";

#credits {

  button {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 70px;
    width: 62px;
    height: 62px;
    background-image: url('../img/credits-close-btn.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #000;
    &:active {
      opacity: 0.7;
    }
  }

  #credits-scroll-container {

    &::-webkit-scrollbar {
      display: block;
      width: 8px;
      background: $credits-dark-gray;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #fff;
    }

    overflow-y: auto;
    overflow-x: hidden;
    height: 860px;
    width: 1877px;
    margin-top: 145px;

    h1 {
      @include credits-h1-rule;

  		margin-bottom: 30px;
      text-align: center;
      color: #fff;
    }

    ul {
      columns: 2 788px;
      column-gap: 200px;
      margin-left: 70px;
      padding-top: 35px;
      width: 1776px;
      li {
        list-style: none;
        display: inline-block;
        width: 788px;
        h2 {
          @include credits-h2-rule;
          padding-bottom: 8px;
          color: $credits-light-gray;
        }
        p {
          @include credits-p-rule;
          padding-bottom: 20px;
          color: #fff;
        }
      }
    }

    #credits-mask-top {
      position: absolute;
      z-index: 1;
      width: 1865px;
      height: 150px;
      top: 144px;
      background:
      linear-gradient(
        to bottom,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.5) 75%,
        rgba(0,0,0,0) 100%,
      )
      left
      bottom
      transparent
      no-repeat;
      background-size:100% 200px;
    }

    #credits-mask-bottom {
      position: absolute;
      z-index: 1;
      width: 1865px;
      height: 150px;
      bottom: 70px;
      background:
      linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 75%,
        rgba(0,0,0,1) 100%,
      )
      left
      bottom
      transparent
      no-repeat;
      background-size:100% 200px;
    }

  }
}
