/*
Poll bg #00aeef #b3e7fb
*/
.details {
  overflow: hidden;
  padding: 8px 8px 4px 8px;
  width: 840px;
  background-color: #f4f4f4;
  border: 1px solid #d2d2d2; }
  .details#details-0 {
    margin-left: 356px; }
    .details#details-0 .details-nav > button {
      background-color: #9783bd; }
      .details#details-0 .details-nav > button h3 {
        color: #4c4366; }
    .details#details-0 .details-info > h4,
    .details#details-0 .details-info > h2 {
      color: #4c4366; }
      .details#details-0 .details-info > h4 p,
      .details#details-0 .details-info > h2 p {
        color: #4c4366; }
  .details#details-1 {
    margin-left: 576px; }
    .details#details-1 .details-nav > button {
      background-color: #e4b023; }
      .details#details-1 .details-nav > button h3 {
        color: #735924; }
    .details#details-1 .details-info > h4,
    .details#details-1 .details-info > h2 {
      color: #735924; }
      .details#details-1 .details-info > h4 p,
      .details#details-1 .details-info > h2 p {
        color: #735924; }
  .details#details-2 {
    margin-left: 796px; }
    .details#details-2 .details-nav > button {
      background-color: #3aa5d4; }
      .details#details-2 .details-nav > button h3 {
        color: #1e546c; }
    .details#details-2 .details-info > h4,
    .details#details-2 .details-info > h2 {
      color: #1e546c; }
      .details#details-2 .details-info > h4 p,
      .details#details-2 .details-info > h2 p {
        color: #1e546c; }
  .details#details-3 {
    margin-left: 1016px; }
    .details#details-3 .details-nav > button {
      background-color: #78be43; }
      .details#details-3 .details-nav > button h3 {
        color: #3f602d; }
    .details#details-3 .details-info > h4,
    .details#details-3 .details-info > h2 {
      color: #3f602d; }
      .details#details-3 .details-info > h4 p,
      .details#details-3 .details-info > h2 p {
        color: #3f602d; }
  .details#details-4 {
    margin-left: 1046px; }
    .details#details-4 .details-nav > button {
      background-color: #e78619; }
      .details#details-4 .details-nav > button h3 {
        color: #74451b; }
    .details#details-4 .details-info > h4,
    .details#details-4 .details-info > h2 {
      color: #74451b; }
      .details#details-4 .details-info > h4 p,
      .details#details-4 .details-info > h2 p {
        color: #74451b; }
  .details#details-5 {
    margin-left: 1046px; }
    .details#details-5 .details-nav > button {
      background-color: #01b9b1; }
      .details#details-5 .details-nav > button h3 {
        color: #055e5a; }
    .details#details-5 .details-info > h4,
    .details#details-5 .details-info > h2 {
      color: #055e5a; }
      .details#details-5 .details-info > h4 p,
      .details#details-5 .details-info > h2 p {
        color: #055e5a; }
  .details#details-6 {
    margin-left: 1046px; }
    .details#details-6 .details-nav > button {
      background-color: #c44a41; }
      .details#details-6 .details-nav > button h3 {
        color: #632622; }
    .details#details-6 .details-info > h4,
    .details#details-6 .details-info > h2 {
      color: #632622; }
      .details#details-6 .details-info > h4 p,
      .details#details-6 .details-info > h2 p {
        color: #632622; }
  .details .details-nav {
    width: 220px;
    padding-right: 32px;
    float: left; }
    .details .details-nav button {
      pointer-events: all;
      width: 220px;
      margin-bottom: 4px;
      padding: 8px; }
      .details .details-nav button:active {
        opacity: 0.7; }
      .details .details-nav button.selected {
        background-color: transparent !important; }
        .details .details-nav button.selected h4 p {
          color: #000 !important; }
      .details .details-nav button h3 {
        text-align: left;
        font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
        font-size: 22px;
        line-height: 26px; }
      .details .details-nav button h4 p {
        text-align: left;
        font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
        font-size: 14px;
        line-height: 16px;
        color: #fff; }
  .details .details-info {
    width: 570px;
    float: left; }
    .details .details-info h4 p {
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      font-size: 14px;
      line-height: 16px; }
    .details .details-info h2 {
      padding-bottom: 24px;
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      font-size: 35px;
      line-height: 40px; }
      .details .details-info h2 p {
        display: inline !important;
        font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
        font-size: 35px;
        line-height: 40px; }
    .details .details-info p p {
      font-family: 'W-Book', 'SourceHanSansCN-Normal';
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 8px; }
