#loader #asset-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  opacity: 0; }
  #loader #asset-container img {
    width: 50px;
    height: 30px;
    float: left; }
  #loader #asset-container #loader-source-images div {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    background-position: 0, 0;
    background-repeat: no-repeat; }
  #loader #asset-container #loader-source-images #people-0-a {
    background-image: url("../img/people/person-0-on.png"); }
  #loader #asset-container #loader-source-images #people-0-b {
    background-image: url("../img/people/person-0-off.png"); }
  #loader #asset-container #loader-source-images #people-0-c {
    background-image: url("../img/people/person-0-off-dim.png"); }
  #loader #asset-container #loader-source-images #people-1-a {
    background-image: url("../img/people/person-1-on.png"); }
  #loader #asset-container #loader-source-images #people-1-b {
    background-image: url("../img/people/person-1-off.png"); }
  #loader #asset-container #loader-source-images #people-1-c {
    background-image: url("../img/people/person-1-off-dim.png"); }
  #loader #asset-container #loader-source-images #people-2-a {
    background-image: url("../img/people/person-2-on.png"); }
  #loader #asset-container #loader-source-images #people-2-b {
    background-image: url("../img/people/person-2-off.png"); }
  #loader #asset-container #loader-source-images #people-2-c {
    background-image: url("../img/people/person-2-off-dim.png"); }
  #loader #asset-container #loader-source-images #people-3-a {
    background-image: url("../img/people/person-3-on.png"); }
  #loader #asset-container #loader-source-images #people-3-b {
    background-image: url("../img/people/person-3-off.png"); }
  #loader #asset-container #loader-source-images #people-3-c {
    background-image: url("../img/people/person-3-off-dim.png"); }
  #loader #asset-container #loader-source-images #people-4-a {
    background-image: url("../img/people/person-4-on.png"); }
  #loader #asset-container #loader-source-images #people-4-b {
    background-image: url("../img/people/person-4-off.png"); }
  #loader #asset-container #loader-source-images #people-4-c {
    background-image: url("../img/people/person-4-off-dim.png"); }
  #loader #asset-container #loader-source-images #people-5-a {
    background-image: url("../img/people/person-5-on.png"); }
  #loader #asset-container #loader-source-images #people-5-b {
    background-image: url("../img/people/person-5-off.png"); }
  #loader #asset-container #loader-source-images #people-5-c {
    background-image: url("../img/people/person-5-off-dim.png"); }
  #loader #asset-container #loader-source-images #people-6-a {
    background-image: url("../img/people/person-6-on.png"); }
  #loader #asset-container #loader-source-images #people-6-b {
    background-image: url("../img/people/person-6-off.png"); }
  #loader #asset-container #loader-source-images #people-6-c {
    background-image: url("../img/people/person-6-off-dim.png"); }
  #loader #asset-container p {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #333; }
  #loader #asset-container p.a {
    font-family: 'W-Medium'; }
  #loader #asset-container p.b {
    font-family: 'W-Medium-Italic'; }
  #loader #asset-container p.c {
    font-family: 'W-Semibold'; }
  #loader #asset-container p.d {
    font-family: 'W-Medium'; }
  #loader #asset-container p.e {
    font-family: 'W-Medium-Italic'; }
  #loader #asset-container p.f {
    font-family: 'W-Narrow-Semibold'; }
  #loader #asset-container p.g {
    font-family: 'W-Narrow-Book'; }
  #loader #asset-container p.h {
    font-family: 'W-Semibold'; }
  #loader #asset-container p.i {
    font-family: 'SourceHanSansCN-Normal'; }
  #loader #asset-container p.j {
    font-family: 'SourceHanSansCN-Medium'; }
  #loader #asset-container p.k {
    font-family: 'SourceHanSansCN-Bold'; }
  #loader #asset-container p.l {
    font-family: 'W-Book'; }
  #loader #asset-container p.m {
    font-family: 'W-Cond-Semibold'; }
  #loader #asset-container p.n {
    font-family: 'W-Cond-Medium'; }

#loader #message-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 997; }
  #loader #message-container p {
    margin: 0;
    padding: 0;
    margin-top: 500px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'W-Narrow-Book';
    font-size: 79px;
    line-height: 79px;
    font-weight: normal;
    letter-spacing: 3px; }
