#loader {

  #asset-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    opacity: 0;
    img {
      width: 50px;
      height: 30px;
      float: left;
    }

    #loader-source-images {
      div {
        width: 50px;
        height: 50px;
        float: left;
        overflow: hidden;
        background-position: 0, 0;
        background-repeat: no-repeat;
      }

      #people-0-a {
        background-image: url('../img/people/person-0-on.png');
      }
      #people-0-b {
        background-image: url('../img/people/person-0-off.png');
      }
      #people-0-c {
        background-image: url('../img/people/person-0-off-dim.png');
      }

      #people-1-a {
        background-image: url('../img/people/person-1-on.png');
      }
      #people-1-b {
        background-image: url('../img/people/person-1-off.png');
      }
      #people-1-c {
        background-image: url('../img/people/person-1-off-dim.png');
      }

      #people-2-a {
        background-image: url('../img/people/person-2-on.png');
      }
      #people-2-b {
        background-image: url('../img/people/person-2-off.png');
      }
      #people-2-c {
        background-image: url('../img/people/person-2-off-dim.png');
      }

      #people-3-a {
        background-image: url('../img/people/person-3-on.png');
      }
      #people-3-b {
        background-image: url('../img/people/person-3-off.png');
      }
      #people-3-c {
        background-image: url('../img/people/person-3-off-dim.png');
      }

      #people-4-a {
        background-image: url('../img/people/person-4-on.png');
      }
      #people-4-b {
        background-image: url('../img/people/person-4-off.png');
      }
      #people-4-c {
        background-image: url('../img/people/person-4-off-dim.png');
      }

      #people-5-a {
        background-image: url('../img/people/person-5-on.png');
      }
      #people-5-b {
        background-image: url('../img/people/person-5-off.png');
      }
      #people-5-c {
        background-image: url('../img/people/person-5-off-dim.png');
      }

      #people-6-a {
        background-image: url('../img/people/person-6-on.png');
      }
      #people-6-b {
        background-image: url('../img/people/person-6-off.png');
      }
      #people-6-c {
        background-image: url('../img/people/person-6-off-dim.png');
      }

    }

    // dom render all fonts
    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #333;
    }
    p.a {
      font-family: 'W-Medium';
    }
    p.b {
      font-family: 'W-Medium-Italic';
    }
    p.c {
      font-family: 'W-Semibold';
    }
    p.d {
      font-family: 'W-Medium';
    }
    p.e {
      font-family: 'W-Medium-Italic';
    }
    p.f {
      font-family: 'W-Narrow-Semibold';
    }
    p.g {
      font-family: 'W-Narrow-Book';
    }
    p.h {
      font-family: 'W-Semibold';
    }
    p.i {
      font-family: 'SourceHanSansCN-Normal';
    }
    p.j {
      font-family: 'SourceHanSansCN-Medium';
    }
    p.k {
      font-family: 'SourceHanSansCN-Bold';
    }
    p.l {
      font-family: 'W-Book';
    }
    p.m {
      font-family: 'W-Cond-Semibold';
    }
    p.n {
      font-family: 'W-Cond-Medium';
    }

  }


  #message-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 997;
    p {
      margin: 0;
      padding: 0;
      margin-top: 500px;
      text-align: center;
      vertical-align: middle;
      color: #ffffff;
      font-family: 'W-Narrow-Book';
      font-size: 79px;
      line-height: 79px;
      font-weight: normal;
      letter-spacing: 3px;
    }

  }

}
