/*
Poll bg #00aeef #b3e7fb
*/
.person-container.a-person-selected .person#person-0.off {
  background-image: url("../img/people/person-0-off-dim.png"); }

.person-container.a-person-selected .person#person-1.off {
  background-image: url("../img/people/person-1-off-dim.png"); }

.person-container.a-person-selected .person#person-2.off {
  background-image: url("../img/people/person-2-off-dim.png"); }

.person-container.a-person-selected .person#person-3.off {
  background-image: url("../img/people/person-3-off-dim.png"); }

.person-container.a-person-selected .person#person-4.off {
  background-image: url("../img/people/person-4-off-dim.png"); }

.person-container.a-person-selected .person#person-5.off {
  background-image: url("../img/people/person-5-off-dim.png"); }

.person-container.a-person-selected .person#person-6.off {
  background-image: url("../img/people/person-6-off-dim.png"); }

.person-container .person {
  position: absolute;
  z-index: 2;
  width: 420px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: 0 0; }
  .person-container .person.on {
    z-index: 5;
    bottom: 50px; }
  .person-container .person.off {
    bottom: 50px; }
  .person-container .person#person-0 {
    z-index: 21;
    left: 40px; }
    .person-container .person#person-0.on {
      background-image: url("../img/people/person-0-on.png");
      z-index: 24; }
    .person-container .person#person-0.off {
      background-image: url("../img/people/person-0-off.png"); }
      .a-person-selected .person-container .person#person-0.off {
        background-image: url("../img/people/person-0-off-dim.png"); }
  .person-container .person#person-1 {
    z-index: 20;
    left: 214px; }
    .person-container .person#person-1.on {
      background-image: url("../img/people/person-1-on.png");
      z-index: 24; }
    .person-container .person#person-1.off {
      background-image: url("../img/people/person-1-off.png");
      z-index: 20; }
      .a-person-selected .person-container .person#person-1.off {
        background-image: url("../img/people/person-1-off-dim.png"); }
  .person-container .person#person-2 {
    z-index: 21;
    left: 444px; }
    .person-container .person#person-2.on {
      background-image: url("../img/people/person-2-on.png");
      z-index: 24; }
    .person-container .person#person-2.off {
      background-image: url("../img/people/person-2-off.png"); }
      .a-person-selected .person-container .person#person-2.off {
        background-image: url("../img/people/person-2-off-dim.png"); }
  .person-container .person#person-3 {
    z-index: 20;
    left: 672px; }
    .person-container .person#person-3.on {
      background-image: url("../img/people/person-3-on.png");
      z-index: 24; }
    .person-container .person#person-3.off {
      background-image: url("../img/people/person-3-off.png");
      z-index: 20; }
      .a-person-selected .person-container .person#person-3.off {
        background-image: url("../img/people/person-3-off-dim.png"); }
  .person-container .person#person-4 {
    z-index: 21;
    left: 928px; }
    .person-container .person#person-4.on {
      background-image: url("../img/people/person-4-on.png");
      z-index: 24; }
    .person-container .person#person-4.off {
      background-image: url("../img/people/person-4-off.png"); }
      .a-person-selected .person-container .person#person-4.off {
        background-image: url("../img/people/person-4-off-dim.png"); }
  .person-container .person#person-5 {
    z-index: 20;
    left: 1107px; }
    .person-container .person#person-5.on {
      background-image: url("../img/people/person-5-on.png");
      z-index: 24; }
    .person-container .person#person-5.off {
      background-image: url("../img/people/person-5-off.png");
      z-index: 20; }
      .a-person-selected .person-container .person#person-5.off {
        background-image: url("../img/people/person-5-off-dim.png"); }
  .person-container .person#person-6 {
    z-index: 19;
    left: 1290px; }
    .person-container .person#person-6.on {
      background-image: url("../img/people/person-6-on.png");
      z-index: 24; }
    .person-container .person#person-6.off {
      background-image: url("../img/people/person-6-off.png");
      z-index: 19; }
      .a-person-selected .person-container .person#person-6.off {
        background-image: url("../img/people/person-6-off-dim.png"); }

.person-container .personTab {
  position: absolute;
  z-index: 4;
  top: 0;
  padding: 18px;
  width: 184px;
  height: 480px;
  background-color: #999; }
  .person-container .personTab .label-tab p {
    font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
    font-size: 14px;
    line-height: 16px; }
  .person-container .personTab .value-tab {
    padding-bottom: 12px; }
    .person-container .personTab .value-tab p {
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      font-size: 22px;
      line-height: 26px;
      color: #fff !important; }
  .person-container .personTab#person-tab-0 {
    background-color: #9783bd;
    left: 105px; }
    .person-container .personTab#person-tab-0 .label-tab p {
      color: #4c4366 !important; }
  .person-container .personTab#person-tab-1 {
    background-color: #e4b023;
    left: 325px; }
    .person-container .personTab#person-tab-1 .label-tab p {
      color: #735924 !important; }
  .person-container .personTab#person-tab-2 {
    background-color: #3aa5d4;
    left: 545px; }
    .person-container .personTab#person-tab-2 .label-tab p {
      color: #1e546c !important; }
  .person-container .personTab#person-tab-3 {
    background-color: #78be43;
    left: 765px; }
    .person-container .personTab#person-tab-3 .label-tab p {
      color: #3f602d !important; }
  .person-container .personTab#person-tab-4 {
    background-color: #e78619;
    left: 985px; }
    .person-container .personTab#person-tab-4 .label-tab p {
      color: #74451b !important; }
  .person-container .personTab#person-tab-5 {
    background-color: #01b9b1;
    left: 1205px; }
    .person-container .personTab#person-tab-5 .label-tab p {
      color: #055e5a !important; }
  .person-container .personTab#person-tab-6 {
    background-color: #c44a41;
    left: 1425px; }
    .person-container .personTab#person-tab-6 .label-tab p {
      color: #632622 !important; }
