/*
Poll bg #00aeef #b3e7fb
*/
#translator {
  width: 100%;
  height: 45px;
  background-color: #000; }
  #translator button {
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid #fff;
    outline: none;
    height: 45px;
    width: 190px;
    float: right;
    background-color: #000;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    letter-spacing: 1.25px;
    color: #fff; }
    #translator button span {
      font-family: 'W-Medium', 'SourceHanSansCN-Medium';
      display: inline-block;
      padding-top: 2px;
      color: #fff; }
      #translator button span:active {
        opacity: 0.7; }
      .credits #translator button span {
        color: #676767 !important; }
    #translator button.credits {
      font-family: 'W-Narrow-Semibold';
      font-size: 15px;
      width: 80px; }
      #translator button.credits span {
        color: #676767;
        font-family: 'W-Narrow-Semibold' !important; }
      #translator button.credits.active span {
        font-family: 'W-Narrow-Semibold';
        color: #676767; }
    #translator button.active span {
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      color: #f2b944; }
